@import '../../../variables';
@import '../../../mixins';

.header {
  height: 75px;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: background-color 0.3s ease;

  @include desktop {
    padding: 18px 12%;
    &--orange {
      background-color: $primary-color;
    }
  }

  @include desktopLarge {
    padding-left: 25%;
    padding-right: 25%;
  }


  &__wrapper {
    @include flex-between;
    padding: 15px 8% 30px 8%;
    @include desktop {
      padding: 15px 0 15px 0;
    }

    &--search {
      padding: 15px 6% 15px 6%;
      @include desktop {
        padding: 0;
      }
    }
  }

  &__hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 12px;
    cursor: pointer;
    background: transparent;
    border: none;

    &--search {
      display: none;
      @include desktop {
        display: flex;
      }
    }

    &-line {
      width: 24px;
      height: 3px;
      background-color: $text-color;
      transition: all 0.3s ease;
      border-radius: 2px;
      @include desktop {
        &--white {
          background-color: white;
        }
      }
    }


    &--active {
      .header__hamburger-line {
        &:nth-child(1) {
          transform: rotate(45deg) translate(6px, 6px);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg) translate(6px, -6px);
        }
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &--search {
      display: none;
      @include desktop {
        display: flex;
        position: static;
        transform: none;
      }
    }

    &-box {
      background-color: $primary-color;
      height: 30px;
      width: 60px;
    }
  }

  // ==================== 搜尋列 ====================
  &__search-bar {
    width: 334px;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    padding-left: 15px;

    @include desktop {
      width: 500px;
    }


    &:focus-within {
      background-color: #ebebeb;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    }
  }

  &__search-input {
    flex: 1;
    border: none;
    background: transparent;
    //padding: $spacing-sm $spacing-md;
    font-size: $font-size-base;
    color: $text-color;
    outline: none;

    &::placeholder {
      color: #999;
    }
  }

  &__search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 100%;
    background-color: $primary-color;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    transition: background-color 0.3s ease;


    &:hover {
      background-color: rgba($primary-color, 0.1);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__search-icon {
    width: 22px;
    height: 22px;
    stroke-width: 2;
    color: white;
  }

  &__camera-button {
    height: 22px;
    width: 22px;
    margin-right: 8px;
  }

  &__camera-icon {
    color: #2C2C2C80;
  }

  &__current-button {
    width: 22px;
    height: 22px;
    margin-right: 26px;
    @include desktop {
      display: none;
    }
  }

  &__current-icon {
    color: $text-color;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 10px;

    &--search {
      display: none;
      @include desktop {
        display: flex;
      }
    }
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    @include desktop {
      &--white {
        color: white;
      }
    }

    &--search {
      @include desktop {
        display: none;
      }
    }
  }

  // ==================== Tab 式下拉選單 ====================
  &__dropdown, &__dropdown--desktop {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $bg-color;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 99;

    @include desktop {
      display: none;
    }

    // Modifier: 選單開啟
    &--open {
      max-height: 600px;

      @include mobile {
        max-height: 500px;
      }
    }

  }

  &__dropdown--desktop {
    display: flex;
    justify-content: space-evenly;
    padding-left: 11.7%;
    padding-right: 11.7%;
    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
    }
    @include desktop {
      display: flex;
    }
  }

  // ==================== 主分類 Tabs ====================
  &__tabs {
    display: flex;
    border-bottom: 2px solid #e5e5e5;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    // 隱藏滾動條但保持功能
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    @include desktop {

    }
  }

  &__tab {
    flex: 1;
    min-width: 80px;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    font-size: 1rem;
    color: #2C2C2C33;
    text-align: center;
    transition: all 0.3s ease;
    white-space: nowrap;

    @include mobile {
      padding: 10px;
      font-size: 1rem;
      min-width: 70px;
    }

    // Modifier: 選中狀態
    &--active {
      font-weight: 600;
      color: $primary-color;
    }
  }

  // ==================== 子分類內容面板 ====================
  &__content {
    position: relative;
    min-height: 100vh;
    background-color: #F1F1F1;
  }

  &__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;


    // Modifier: 顯示當前面板
    &--active {
      opacity: 1;
      visibility: visible;
      position: relative;
    }
  }

  // ==================== 子分類列表 ====================
  &__list {
    display: flex;
    flex-direction: column;
    gap: 2px;

    @include desktop {
      gap: 15px;
      margin-top: 40px;
    }
  }

  &__list-item {
    // BEM element
    border-bottom-color: #2C2C2C33;
    border-bottom-style: solid;

    @include desktop {
      border-bottom-style: none;
    }
  }

  &__list-link {
    display: block;
    width: 100%;
    padding-left: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: $text-color;
    text-align: left;
    transition: all 0.2s ease;
    border-left: 3px solid transparent;

    @include desktop {
      padding: 0;
    }

    &:active {
      background-color: #f0f0f0;
    }
  }

  // ==================== 桌面板下拉選單 ====================
  &-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 30%;
    margin: 32px 0;
  }

  &__imagebox {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 50%;
    height: 50%;
    margin: 32px 0;
  }

  &__image-container {
    flex: 1;
    aspect-ratio: 1/1;
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

